sudo: required

language: generic

# 도커 환경 구성
services:
  - docker

# 스크립트를 실행 할 수 있는 환경 구성
# 도커 이미지 생성
before_install:
  - echo "Create dockerfile image"
  - docker build -t novitative/docker-react-app -f Dockerfile.dev .

script:
  - docker run -e CI=true novitative/docker-react-app npm run test -- --coverage

deploy:
  # 외부 서비스 표시 (EC2, EB, FireBase 등)
  provider: elasticbeanstalk
  # 현재 AWS의 서비스가 위치하고 있는 물리적 장소
  region: "ap-northeast-2"
  # app 이름
  app: "docker-react-app"
  env: "Docker-React-App-env"
  # Elastic Beanstalk에서 생성한 S3 이름
  bucket_name: "elasticbeanstalk-ap-northeast-2-313521353063"
  # app 이름과 동일
  bucket_path: "docker-react-app"
  on:
    # 어떤 브랜치의 push할 때 배포 할 것인지
    branch: master
  # AWS IAM에서 발급받은 엑세스키들을
  # Travis CI에 환경변수로 등록하여 사용
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY